
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
.container{
    margin:0 165px;
    width:calc(100% - 230px);

}
.control{
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding-top: 21.84px;
    padding-bottom: 21.84px;
}
.controlsec2{
    display:flex;
    gap:30px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.listiteams{/*وهان عشان الروابط يكونو جنب بعض*/
    display:flex;
    gap:60px;
    list-style-type: none;
}
.icon{
     list-style-type: none;/*هاي بتشيل النقاط السوداء جنب عناصر الليست اللي بتكون موجوده بشكل تلقائي*/
     display: flex;
     gap: 24px;
}

.cards
{
    width:calc( (100% - 90px) /4);/*في حال كنا بدنا اياهم الاربعه جنب بعض */
}
img{
    width:100%;
}
h2{
    margin-top:23px ;/*لانشاء مسافه بين العنوان والصورة*/
    font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;/*بخلي كل الحروف كابيتل بدون متحتاج تكتبهم بايدك*/
   color:#3A3845;

}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*typoالرقم اللي بكون موجود فقسم
    */
    text-decoration-line: none;/*لازاله الخط تحت النص*/
    color: #3A3845;/*لتغيير لون النص */
}
    